.Gallery {
  /* background: linear-gradient(110deg, #ffffff 70%, #444444 70%);  #b4ddbf,  rgb(134, 189, 89) */
  /* background: linear-gradient(300deg, #22810a 40%, #0570a1 40%); */
  /* background-color: rgb(14, 8, 14); */
  /* background: #3A1C71;  fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to left, #f0c27b, #4b1248); */
  background: linear-gradient(to left, #FFAF7B, #D76D77, #3A1C71); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  padding: 60px 0 40px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.Frame {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.Frame img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  filter: grayscale(100%);
}

/* .Frame p{
  position: absolute;
  width: 250px;
  height: 250px;
  z-index: 500;
  color:white;
  font-weight: 100;
  font-style: oblique;
  margin: 0;
} */
/* 
.Frame p:hover{
  display: none;
} */

.Container{
 position: relative;
 text-align: center;
 color: white;
 height: 250px;
 width: 250px;
}

.Des{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: white;
 z-index: 500;
 font-size: .8em;
 text-shadow: 0px 0px 5px rgb(37, 37, 37);

}

.Container:hover div{
  display: none;
}

.Frame img:hover {
  filter: none;
  filter: brightness(120%);
}

@media (max-width: 1060px) {
  .Frame img {
    width: 200px;
    height: 200px;
  }
  .Container{
    position: relative;
    text-align: center;
    color: white;
    height: 200px;
    width: 200px;
   }
}

/* tablets profile */
@media (min-width: 760px) and (max-width: 1024px) {
  @media (min-height: 1024px) {
    .Gallery{
      padding-top: 20px;
    }
    .Gallery img{
      width: 25.1vw;
      height: 25.1vw;
    }
    .Container{
      position: relative;
      text-align: center;
      color: white;
      height: 25.1vw;
      width: 25.1vw;
     }
  }
}

/* mobile profile */
@media (min-height: 560px) and (max-height: 824px) {
  @media (max-width: 599px) {
    .Gallery{
      padding-top: 60px;
    }
    .Gallery img{
      width: 45vw;
      height: 45vw;
    }
    .Container{
      position: relative;
      text-align: center;
      color: white;
      height: 45vw;
      width: 45vw;
     }
  }
}
