.Gallery {
  background-color: #b4ddbf;
  min-height: 100vh;
  padding: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.Frame {
  max-width: 1250px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.Frame img {
  /* border: solid 5px red; */
  width: 200px;
  height: 200px;
  object-fit: cover;
}

@media (max-width: 750px) {
  .Gallery {
    padding: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    
  }
}