.MenuBar {
    height: 50px;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba(71, 137, 190, 0.651);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    padding-right: 15%;
    box-sizing: border-box;  
    z-index: 90;
  }
  
  .MenuBar nav {
    height: 100%;
  }
  
  @media (max-width: 499px) {
    .DesktopOnly {
      display: none;
    }
    .MenuBar {
      padding: 0px 20px;
      justify-content: space-between;
    }
  }