.MenuBar {
    height: 50px;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    /* background-color: rgba(71, 137, 190, 0.651); */
    /* background-image: linear-gradient(to bottom, rgba(86, 193, 235, 0.575), rgba(119, 215, 253, 0.575), rgba(133, 215, 248, 0.521), transparent); */
    background-image: linear-gradient(to bottom, #4592b193, rgba(83, 156, 185, 0.575), rgba(140, 176, 190, 0.521), transparent);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 20px;
    padding-right: 15%;
    box-sizing: border-box;  
    z-index: 90;
  }
  
  .MenuBar nav {
    height: 100%;
  }
  
  @media (max-width: 699px) {
    .DesktopOnly {
      display: none;
    }
    .MenuBar {
      padding: 0px 20px;
      justify-content: space-between;
      
    }
  }