.Segment {
    min-height: 100vh;
    box-sizing: border-box;
    /* border: 1px solid black;  */
    min-width: 350px;
    width: 100vw;
}

/* Minimum height */ 

@media (max-height: 400px) {
    .Segment {
        min-height: 400px;
    }
}
