.Footer {
  color: whitesmoke;
  /* background-color: #11050a; */
  background-image: url(https://s3-us-west-1.amazonaws.com/tonaramoswebsite/darknight.png);
  background-color: rgb(12, 17, 24);
  min-height: 50vh;
  width: 100vw;
  padding: 5% 0 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  min-width: 350px;
}

.Text {
  font-size: 1em;
  font-weight: 300;
  /* color: black; */
  margin-bottom: 10px;
  /* text-shadow: 0px 1px 2px rgb(255, 255, 255, .6); */
}

.SocialMediaSection {
width: 360px;
display: flex;
justify-content: space-between
}

.SocialMediaIcon {
  width: 50px;
  height: 50px;
}
    
.ReturnButton {
  /* background-color: transparent;
  border: solid 1px ivory;
  font-weight: 100;
  font-size: .85em;
  padding: 5px 15px 5px 15px; */
  display: flex;
  align-self: center;
  border-radius: 100px;
  /* margin-top: 10px; */
}