.ProjectSection {
  padding-top: 40px;
  background-color: #005ba9;
  color: whitesmoke;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: initial;
  min-height: 100vh;
}

.ProjectSection h1 {
  display: flex;
  justify-content: center;
}

.ProjectsList {
  /* background-color: whitesmoke; */
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  /* box-sizing: border-box; */
}
