.Cover {
    background-color: transparent;
    color: rgb(36, 35, 35);
    text-transform: capitalize;
    padding: 60px;  
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    min-height: 400px;
    height: 100vh;
    box-sizing: border-box;
}

.NameTitle {
    text-transform: uppercase;
    text-shadow: 0px 0px 1px grey;
    font-size: 4em;
    /* font: bold; */
    margin-bottom: 100px;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* .ShortIntro {
    text-transform: uppercase;
    text-shadow: 0px 0px 1px grey;
    font-size: 1.5em;
    font: bold;
    margin-top: 0px;
    margin-bottom: 0px;
} */