.GalleryTile {
  width: 200px;
  height: 200px;
  border: solid 1px black;
  background-color: indigo;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  filter: grayscale(100%);
}

.GalleryTile:hover {
  filter: one;
}