.About {
  /* background-color: rgb(255, 187, 0, 1); */
  /* background: linear-gradient(100deg, #a3e1fa 67.5%, rgb(255, 187, 0, 1) 40%);  */
  top: 0;
  left: 0;
  background-color: yellow;
  background: rgb(255, 187, 0);
  background: linear-gradient(100deg, #45caff 67.5%, rgb(255, 187, 0, 1) 40%); 
  background: -webkit-linear-gradient(100deg, #45caff 67.5%, rgb(255, 187, 0, 1) 40% );
  background: -moz-linear-gradient(100deg, #45caff 67.5%, rgb(255, 187, 0, 1) 40%);
  background: -o-linear-gradient(100deg, #45caff 67.5%, rgb(255, 187, 0, 1) 40%);
  background: linear-gradient(100deg, #45caff 67.5%, rgb(255, 187, 0, 1) 40%); 

  color: rgb(0, 0, 0);
  text-shadow: 0px 0px .3px rgba(43, 42, 42, 0.2);
  padding: 60px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: initial;
  min-height: 100vh;  
}

.About p {
  text-shadow: 0px 0px 1px rgba(151, 151, 151, 0.3);
}

@media (max-width: 1350px) {
  .About {
    background-color: rgb(255, 187, 0, 1);
    background: linear-gradient(100deg, #45caff 65%, rgb(255, 187, 0, 1) 40%); 
  } 
}

@media (max-width: 1200px) {
  .About {
    background-color: rgb(255, 187, 0, 1);
    background: linear-gradient(80deg, #45caff 65%, rgb(255, 187, 0, 1) 40%); 
  } 
}

/* @media (max-width: 1200px) {
  .About {
    background: linear-gradient(-3deg, #45caff 42%, rgb(255, 187, 0, 1) 30%); 
  } 
} */

@media (max-width: 1200px) {
  .About {
    background-color: rgb(255, 187, 0, 1);
    background: linear-gradient(177.5deg, #45caff 57%, rgb(255, 187, 0, 1) 30%); 
  } 
}

@media (max-width: 1000px) {
  .About {
    background-color: rgb(255, 187, 0, 1);
    background: linear-gradient(177.5deg, #45caff 62%, rgb(255, 187, 0, 1) 30%); 
  } 
}

@media (max-width: 824px) {
  .About {
    background-color: rgb(255, 187, 0, 1);
    background: linear-gradient(180deg, #45caff 62%, rgb(255, 187, 0, 1) 30%); 
  } 
}

@media (max-width: 599px) {
  .About {
    background-color: rgb(255, 187, 0, 1);
    background: linear-gradient(180deg, #45caff 64%, rgb(255, 187, 0, 1) 30%); 
  } 
}

@media (max-width: 824px) {
  .About {
    padding: 5%;
    padding-top: 60px;
    padding-bottom: 60px;
  } 
}

.AboutMe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 824px) {
  .AboutMe {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  } 
}

.AboutMe h1 {
  margin-top: 0px;
  /* text-shadow: 0px 2px 5px rgba(105, 105, 105, 0.507); */
  text-shadow: 0px 1px 3px rgba(105, 105, 105, 0.4);
}

.AboutMe img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.WhatsATona {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  text-shadow: 0px 1px 3px rgba(105, 105, 105, 0.4);
}

.WhatsATona img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.TonatiuhImageFrame {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 824px) {
  .WhatsATona {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 50px; */
  }
  
  .WhatsATona h2 {
    margin-top: 0px;
  }
 
}

.Text {
  width: 60%;
  text-align: justify;
}

@media (max-width: 824px) {
  .Text {
    width: 90%;
    margin-top: 45px;
  }
}

/* tablet profile large */

@media (min-width: 699px) and (max-width: 1024px) {
  @media (min-height: 1000px) {
    .About{
      padding: 60px;  
      justify-content: space-around;
    }
  }
}
