.About {
  background-color: rgb(255, 187, 0);
  color: rgb(36, 35, 35);
  padding: 60px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: initial;
  min-height: 100vh;  
}

@media (max-width: 799px) {
  .About {
    padding: 5%;
    padding-top: 60px;
    padding-bottom: 60px;
  } 
}

.AboutMe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 799px) {
  .AboutMe {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  } 
}

.AboutMe h1 {
  margin-top: 0px;
}

.AboutMe img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  object-fit: cover;
}

.WhatsATona {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.WhatsATona img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
}

.TonatiuhImageFrame {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 799px) {
  .WhatsATona {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 50px; */
  }
  
  .WhatsATona h2 {
    margin-top: 0px;
  }
 
}

.Text {
  width: 60%;
  text-align: justify;
}

@media (max-width: 799px) {
  .Text {
    width: 90%;
    margin-top: 45px;
  }
}

